<div *ngIf="error || totalPages === 0; else displayRepo">
  No repository Found
</div>
<!-- <div *ngIf="totalPages === 0; else displayRepo">No repository Found</div> -->
<ng-template #displayRepo>
  <div class="w-[100%] flex flex-wrap gap-4">
    <!-- skeleton loader -->
    <div class="w-[100%] flex flex-wrap gap-4" *ngIf="loader; else content3">
      <div class="card" *ngFor="let i of iterate(10)">
        <div class="animate-pulse flex space-x-4">
          <div class="flex-1 space-y-6 py-1">
            <div class="h-8 bg-slate-200 rounded"></div>
            <div class="space-y-3">
              <div class="grid grid-cols-3 gap-4">
                <div class="h-8 bg-slate-200 rounded col-span-3"></div>
              </div>
              <div class="h-8 bg-slate-200 rounded"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #content3>
      <a
        class="card"
        *ngFor="let item of repos"
        href="{{ item.html_url }}"
        target="_blank"
      >
        <h2>{{ item.name }}</h2>
        <p>{{ item.description || "No Description" }}</p>
        <div>
          <span class="gap-y-4" *ngFor="let topic of item.topics">{{
            topic
          }}</span>
        </div>
      </a>
    </ng-template>
  </div>

  <!-- Pagination buttons......... -->
  <div class="flex justify-between w-[20%]" *ngIf="repos && totalPages > 1">
    <button
      (click)="prevPage()"
      class="cursor-pointer text-3xl rotate-180 mx-4 next"
      [disabled]="pageNumber === 1"
    ></button>
    <div
      class="mx-4 text-xl cursor-pointer p-2 border-2 my-8"
      *ngFor="let i of iterate(totalPages)"
      (click)="pageClick($event)"
      [ngClass]="{
        'bg-[cadetblue] text-[#fff] rounded-xl': i + 1 === pageNumber
      }"
    >
      {{ i + 1 }}
    </div>
    <button
      (click)="nextPage()"
      [disabled]="pageNumber === totalPages"
      class="cursor-pointer text-3xl mx-4 next"
    ></button>

    <div class="my-8">
      <select [(ngModel)]="selectedPageSize" (change)="onPageSizeChange()">
        <option *ngFor="let option of pageSizeOptions">{{ option }}</option>
      </select>
    </div>
  </div>
</ng-template>
